@import url("../sdk/ext/src/ux/css/CheckboxListCombo.css");

.icon-bg {
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center center;
}
.btn-danger {
    background-image: none;
    background-color: #f03600;
    border-color: #d10000;
}
.btn-danger .x-btn-inner {
    color: #f0f8ff
}
.btn-danger:hover {
    background-image: none;
    background-color: #ff3800;
    border-color: #dd0000;
}
.btn-danger .x-btn-inner:hover {
    color: #FFFFFF;
}
input::-webkit-input-placeholder {
    font-style: italic;
    color: rgba(255, 0, 28, 0.4) !important;
}

input:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    color: rgba(255, 0, 28, 0.4) !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    color: rgba(255, 0, 28, 0.4) !important;
}

input:-ms-input-placeholder {
    font-style: italic;
    color: rgba(255, 0, 28, 0.4) !important;
}
.right-text-align {
    text-align: right
}
.row-body-tpl {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: smaller;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}